@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

body, html {
    background-color: #1e1e1e;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAASElEQVRIie3SsQkAMAhE0dt/pnMNM07SCS6gBH5hY/MRn8K+J7PNxE4b0bB7ePJ6bUQrvPFngQtc4AIXuMAFLnCBC1zg+hfXAy8UHuWeFxKhAAAAAElFTkSuQmCC);
    background-repeat: repeat;

    /*height: 100%;*/

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    color: #8C8989 !important;
    /*font-size: 13px !important;*/
    /*font: 13px/20px 'PT Sans', Arial, Helvetica, sans-serif;*/
    /*font: 13px/20px 'PTSansRegular', Arial, Helvetica, sans-serif;*/
}

a:hover, a:focus {
    box-shadow: none;
}

#wrapper {
    background-color: #2d2d2d;
    /*min-height: 100%;*/
    flex: 1;
    width: 100%;
}

#wrapper,
.footer {
    max-width: 1100px;
    margin: 0 auto;
    /*width: 80%;*/
    font: 13px/20px 'PT Sans', Arial, Helvetica, sans-serif;
}

.main-video {
    margin: 0 auto;
    width: 80%;
}

.main-video video {
    width: 100%;
}

.footer {
    background-color: #282a2b;
    border-top: 1px solid #4B4C4D;
    font-size: 12px;
    /*padding: 18px;
    position: absolute;
    bottom: 0;
    width: 100%;*/

    /*position: relative;
    margin-top: -50px;
    height: 50px;*/
    margin-top: auto;
    clear: both;
    width: 100%;
    /*padding-top:20px;*/
}

.footer .copy {
    text-align: left;
    padding-top: 13px;
    padding-bottom: 13px;
    /*padding-left: 28px;*/
}

.footer .all-rights {
    text-align: right;
    padding-top: 13px;
    padding-bottom: 13px;
    /*padding-right: 28px;*/
}

.footer .container {
    margin: 0 !important;
    max-width: none;
}

a {
    color: #BFBFBF !important;
}

a:hover {
    text-decoration: none !important;
    color: #a0ce4e !important;
}

h1 {
    font-size: 26px;
    text-align: center;
    color: white;
    margin: 20px;
}

.navbar {
    padding: 0 1rem;
}

#navbarText {
    height: 70px;
}

#navbarText .navbar-nav .nav-link {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*#navbarText .navbar-nav .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

#wrapper .navbar-brand {
    font-size: 26px;
    font-weight: bold;
    color: white !important;
    text-shadow: 1px 1px black;
}

.navbar.navbar-dark .navbar-nav .nav-item > .nav-link {
    color: white !important;
    font-family: 'Antic Slab', serif;
    font-size: 14px;
    border: 4px #343a40 solid;
}

.navbar.navbar-dark .navbar-nav .nav-item > .nav-link:hover {
    color: #a0ce4e !important;
    border-top-color: #a0ce4e;
}

.about .ab-rect {
    height: 200px;
    border-radius: 5px;
    background-color: #3e3e3e;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}

.about .ab-rect .icon {
    font-size: 30px;
    margin-bottom: 20px;
    color: #a0ce4e;
}

.r-heading {
    background-color: #a0ce4e;
    /*padding-bottom: 0px;
    padding-top: 25px;
    padding-left: 30px !important;
    padding-right: 30px !important;*/
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 30px;
}

.content {
    padding: 40px 0 0;
    font-family: 'Antic Slab', serif;
    font-size: 15px;
}

.section {
    padding-bottom: 60px;
}

.section.about h1 {
    margin-bottom: 40px;
}

.candy {
    border-color: transparent;
    border-top-color: #a0ce4e;
    border-width: 29px 29px 0 29px;
    border-style: solid;
    margin: 0 auto;
    width: 50px;
    margin-bottom: 10px;
}

.container-wrap {
    padding: 0 15px;
}

.pan-caption {
    padding: 28px 28px 27px 31px;
    background-color: #3e3e3e;
    border-width: 1px;
    border-color: #3e3e3e;
    border-top-width: 3px;
    border-top-color: #a0ce4e;
    border-style: solid;
    margin-bottom: 9px;
}

.pan-indicator,
.pan-item {
    position: relative;
    background-color: #3e3e3e;
    width: 100%;
    color: white;
    margin-bottom: 9px;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    padding: 10px 20px;
}

.pan-indicator {
    text-shadow: 1px 1px 2px black, 0 0 1em green;
}

.pan-item {
    text-align: left;
}

.progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    background-color: rgb(160, 206, 78);
    border: 0 solid rgb(160, 206, 78);

    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;

    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.perc-1 {
    width: 95%;
}

.perc-2 {
    width: 91%;
}

.perc-3 {
    width: 88%;
}

.perc-4 {
    width: 83%;
}

.perc-5 {
    width: 80%;
}

.perc-6 {
    width: 79%;
}

.indicator-strategy-img {
    width: 80%;
    margin: 10px auto 50px;
    display: block;
}

.indicator {
    background-image: url('black-pattern-squares-wallpaper-12.jpeg');
    /*background-size: contain;*/

}

/*.indicator-strategy {
    background-image: url('Grey-wallpaper-for-desktop.jpg');
    background-size: contain;
}*/

.l-icon {
    color: #a0ce4e;
    margin-right: 15px;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

.progress-caption {
    position: relative;
    z-index: 1;
}

.color-1 {
    color: #a0ce4e;
}

.s-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 170px;

    border: 1px solid #a0ce4e;
    color: #a0ce4e;
    font-size: 13px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

.perc {
    color: #a0ce4e;
    font-size: 50px;
    line-height: normal;
    margin-bottom: 5px;
}


.join-info {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    margin: 0 auto;

    color: white;
    font-size: 18px;

    width: 100%;
}

.join-info td {
    border: solid 1px white;
    padding: 10px 20px;
}

.tb-capt {
    text-align: left;
    vertical-align: center;
    padding: 5px 0;
}

.tb-price {
    text-align: center;
    vertical-align: center;
    color: yellow;
    padding: 15px 0;
}

.tb-order {
    text-align: center;
    vertical-align: center;
    padding: 5px 0;
    font-size: 16px;
    color: white;
}

.order-btn {
    background-color: #a0ce4e;
    color: black !important;
    width: 100%;
    padding: 15px;
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.order-btn.disabled {
    color: #3e3e3e;
}

.order-btn:hover {
    color: white !important;
}


.order-btn.disabled:hover {
    /*color: #3e3e3e;*/
    color: white !important;
}

.join-info.right .tb-capt {
    text-align: right;
}

/*
Разворачивание всех вопросов
.faq .pan-item {
    font-style: italic;
}

.faq .pan-item .question {
    font-style: normal;
    color: red;
}

.faq .pan-item .reply {
    font-style: normal;
    color: #a0ce4e;
}

.faq-wrap {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
}

.faq-wrap.unwrap {
    max-height: 600px;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
}

.faq .r-heading .icon {
    color: #242424;
    margin-left: 20px;
}*/

.faq .icon {
    margin-right: 20px;

    background-color: gray;
    padding: 5px;
    width: 24px;
    display: inline-block;
    height: 24px;
}
.faq .pan-item a {
    color: white !important;
}

.faq .pan-item .reply {
    font-style: normal;
    color: #a0ce4e;
    /*display: inline-block;*/
    margin-left: 43px;
    margin-top: 6px;

    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .4s;
    transition: max-height .4s;
}

.faq .pan-item .reply.unwrap {
    max-height: 50px;
    -webkit-transition: max-height .4s;
    transition: max-height .4s;
}

@media screen and (max-width: 767px) {
    .main-video {
        width: 100%;
    }

    .footer .copy,
    .footer .all-rights {
        text-align: center;
    }

    .footer .copy {
        padding-bottom: 5px;
    }

    .footer .all-rights {
        padding-top: 0;
    }
}
