@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

body, html {
    background-color: #1e1e1e;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAASElEQVRIie3SsQkAMAhE0dt/pnMNM07SCS6gBH5hY/MRn8K+J7PNxE4b0bB7ePJ6bUQrvPFngQtc4AIXuMAFLnCBC1zg+hfXAy8UHuWeFxKhAAAAAElFTkSuQmCC);
    background-repeat: repeat;

    /*height: 100%;*/

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    color: #8C8989 !important;
    /*font-size: 13px !important;*/
    /*font: 13px/20px 'PT Sans', Arial, Helvetica, sans-serif;*/
    /*font: 13px/20px 'PTSansRegular', Arial, Helvetica, sans-serif;*/
}

#wrapper {
    background-color: #2d2d2d;
    /*min-height: 100%;*/
    flex: 1;
    width: 100%;
}

#wrapper,
.footer {
    max-width: 1100px;
    margin: 0 auto;
    /*width: 80%;*/
    font: 13px/20px 'PT Sans', Arial, Helvetica, sans-serif;
}

.main-video {
    margin: 0 auto;
    width: 80%;
}

.main-video video {
    width: 100%;
}

.footer {
    background-color: #282a2b;
    border-top: 1px solid #4B4C4D;
    font-size: 12px;
    /*padding: 18px;
    position: absolute;
    bottom: 0;
    width: 100%;*/

    /*position: relative;
    margin-top: -50px;
    height: 50px;*/
    margin-top: auto;
    clear: both;
    width: 100%;
    /*padding-top:20px;*/
}

.footer .copy {
    text-align: left;
    padding-top: 13px;
    padding-bottom: 13px;
    /*padding-left: 28px;*/
}

.footer .all-rights {
    text-align: right;
    padding-top: 13px;
    padding-bottom: 13px;
    /*padding-right: 28px;*/
}

.footer .container {
    margin: 0 !important;
    max-width: none;
}

a {
    color: #BFBFBF !important;
}

a:hover {
    text-decoration: none !important;
    color: #a0ce4e !important;
}

h1 {
    font-size: 26px;
    text-align: center;
    color: white;
    margin: 20px;
}

#wrapper .navbar-brand {
    font-size: 26px;
    font-weight: bold;
    color: white !important;
    text-shadow: 1px 1px black;
}

.navbar.navbar-dark .navbar-nav .nav-item > .nav-link {
    color: white !important;
    font-family: 'Antic Slab', serif;
    font-size: 14px;
}

.navbar.navbar-dark .navbar-nav .nav-item > .nav-link:hover {
    color: #a0ce4e !important;
}

.about .ab-rect {
    height: 200px;
    border-radius: 5px;
    background-color: #3e3e3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.r-heading {
    background-color: #a0ce4e;
    /*padding-bottom: 0px;
    padding-top: 25px;
    padding-left: 30px !important;
    padding-right: 30px !important;*/
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 30px;
}

.content {
    padding: 40px 0;
    font-family: 'Antic Slab', serif;
    font-size: 14px;
}

.section {
    margin-bottom: 60px;
}

.candy {
    border-color: transparent;
    border-top-color: #a0ce4e;
    border-width: 29px 29px 0 29px;
    border-style: solid;
    margin: 0 auto;
    width: 50px;
}

.container-wrap {
    padding: 0 15px;
}

.pan-caption {
    padding: 28px 28px 27px 31px;
    background-color: #3e3e3e;
    border-width: 1px;
    border-color: #3e3e3e;
    border-top-width: 3px;
    border-top-color: #a0ce4e;
    border-style: solid;
    margin-bottom: 9px;
}

.pan-indicator {
    position: relative;
    background-color: #3e3e3e;
    width: 100%;
    color: white;
    margin-bottom: 9px;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    padding: 10px 20px;
}

.progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    background-color: rgb(160, 206, 78);
    border: 0 solid rgb(160, 206, 78);

    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;

    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite
}

.perc-1 {
    width: 95%;
}
.perc-2 {
    width: 91%;
}
.perc-3 {
    width: 88%;
}
.perc-4 {
    width: 83%;
}
.perc-5 {
    width: 80%;
}
.perc-6 {
    width: 79%;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

.progress-caption {
    position: relative;
    z-index: 1;
}

.color-1 {
    color: #a0ce4e;
}


@media screen and (max-width: 767px) {
    .main-video {
        width: 100%;
    }

    .footer .copy,
    .footer .all-rights {
        text-align: center;
    }

    .footer .copy {
        padding-bottom: 5px;
    }

    .footer .all-rights {
        padding-top: 0;
    }
}
